.ProfileContainer {
    padding-top: 10px;
    display: inline;
    position: relative;
    margin: 0;
    justify-content: center;
  }
  .Heading {
    font-size: 40px;
    font-weight: bolder;
  }
  
  .GenInfo {
    font-size: 20px;
  }
  
  .Intro {
    font-size: 15px;
    justify-content: flex-start;
  }