/* body {
    margin: auto;
    text-align: center;
  } */
/*   
  .nav {
    font-size: 30px;
    background-color: white;
  }
  .clock {
    background-color: white;
    font-size: 60px;
    text-shadow: 10px 10px 14px gray;
  }
  .butts {
    background-color: #2d95ff;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    border: 3px solid black;
    border-radius: 10px;
    margin: 15px 8px;
  } */