/* .container {
    padding: 20px;
    display: flex;
}

.app {
    margin: 0 auto;
    background: #BED7CE;
    padding: 10px;
    width: 900px
}

.app-header h4 {
    text-align: center
}

.form {
    max-width: 300px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 20px;
    min-width: 100px;
    box-shadow: 5px 5px #888888;
    text-align: center
}

.inner {
    padding: 15px
}

.main .card-head {
    text-transform: uppercase;
    padding: 10px;
    margin: 0px;
    background: #72A894;
    border: 1px solid white
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.welc {
    min-width: 300px
}

.footer {
    padding-top: 20px;
} */