.allAppNav ul li{
    /* list-style-type: none; */
    display: block;
    text-align: center;
    border: 2px solid black;
    margin:5px auto;
    font-size: 1.5rem;
    color:black;
}

.allAppNav {
    /* display: block; */
    width:95%;
    /* padding: 0;
    margin: 0; */
}

.allAppNav ul{
    /* margin-top: 20%; */
    padding: 0;
}
